{% extends "rest_framework/api.html" %}

{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block title %}Locality {{ data.lid }} {{ data.loc_name }} – New and Old Worlds{% endblock title %}
{% block page_header %}{{ data.lid }} {{ data.loc_name }}{% endblock page_header %}

{% block data_content %}
<div class="tabbable" >
	<ul class="nav nav-tabs nav-justified">
	  <li class="active"><a data-toggle="tab" href="#locality-age">Age</a></li>
	  <li><a data-toggle="tab" href="#locality-locality">Locality</a></li>
	  <li><a data-toggle="tab" href="#locality-species">Species</a></li>
	</ul>
	<div class="tab-content">
		<div id="locality-age" class="tab-pane active">
			<h3>Age</h3>
			<p>Dating Method: {{ data.date_meth }}</p>
			<p>Minimum Age: {{ data.min_age }}</p>
			<p>Maximum Age: {{ data.max_age }}</p>
		</div>
		<div id="locality-locality" class="tab-pane">
			<h3>Locality</h3>
			<p>Latitude: {{ data.dms_lat }}</p>
			<p>Longitude: {{ data.dms_long }}</p>
		</div>
		<div id="locality-species" class="tab-pane">
			<h3>Species</h3>
		</div>
	</div>
</div>
{% endblock data_content %}
